* {
  box-sizing: border-box;
}

/* .col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
 */
/* [class*="col-"] {
  float: left;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: red;
} */

/* .row::after {
  content: "";
  clear: both;
  display: table;
} */

/* 7 cols, leaving 3% for div */
[class*="event-col-"] {
  font-family: Verdana;
  font-size: 1em;
  float: left;
  padding: 3px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: green;
  margin: 0px;
}

.event-col-1 {
  width: 14%;
  text-align: center;
}

.event-col-2 {
  width: 21%;
  text-align: left;
  padding-left: 4px;
}

.event-col-3 {
  width: 6%;
}

.event-col-4 {
  width: 5%;
}

.event-col-5 {
  width: 14%;
}

.event-col-6 {
  width: 12%;
}

.event-col-7 {
  width: 26%;
}

/* CNT */
[class*="event-cnt-"] {
  font-family: Verdana;
  font-size: 1em;
  float: left;
  padding: 3px;
  border-radius: 4px;
  border-width: 0px;
  border-style: none;
  border-color: cyan;
  margin: 0px;
}

.cnt-r {
  width: 80%;
  padding-left: 4px;
  margin-left: 8px;
  text-align: right;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-cnt-2 {
  width: 90%;
  text-align: left;
  font-size: 0.9em;
}

.event-cnt-3 {
  width: 90%;
  text-align: center;
  font-size: 0.9em;
}

.event-cnt-4 {
  width: 90%;
  text-align: center;
  font-size: 0.9em;
}

.event-cnt-5 {
  width: 90%;
  text-align: center;
}

.event-cnt-6 {
  width: 90%;
  text-align: center;
}

.event-cnt-7 {
  width: 95%;
  text-align: left;
  border-width: 0px;
  border-style: solid   ;
  border-color: green;
}

.event-btn {
  color: blue;
  margin: 3px;
}

.row-border{
  border-width: 1px;
  border-style: solid   ;
  border-color: black;
}

.fc-05-l {  
  width: 9%;
  text-align: left;
}

.fc-05-r {  
  width: 9%;
  text-align: right;
}

.fc-05-c {  
  width: 9%;
  text-align:center;
}


.fc-1-l {  
  width: 18%;
  text-align: left;
}
.fc-1-r {  
  width: 18%;
  text-align: right;
}
.fc-1-c {  
  width: 18%;
  text-align:center;
}

.fc-2-l {
  width: 36%;
  text-align: left;
}
.fc-2-r {
  width: 36%;
  text-align: right;
}

.fc-2-c {
  width: 36%;
  text-align: center;
}

.fc-3-l {
  width: 54%;
  text-align: left;
}
.fc-3-r {
  width: 54%;
  text-align: right;
}
.fc-3-c {
  width: 54%;
  text-align: center;
}



.fc-4-l {
  width: 72%;
  text-align: left;
}
.fc-4-r {
  width: 72%;
  text-align: right;
}
.fc-4-c {
  width: 72%;
  text-align: center;
}



.fc-5-l {
  width: 90%;
  text-align: left;
}
.fc-5-r {
  width: 90%;
  text-align: right;
}


.fc-5-c {
  width: 90%;
  text-align: center;
}

   
.fc-05-l,.fc-05-r,.fc-05-c,.fc-1-l,.fc-1-r,.fc-1-c,.fc-2-l,.fc-2-r,.fc-2-c,.fc-3-l,.fc-3-r,.fc-3-c,.fc-4-l,.fc-4-r,.fc-4-c,.fc-5-l,.fc-5-r,.fc-5-c {
  
  border-width: 0px;
  border-style: double;
  border-color: green;
}