* {
	box-sizing: border-box;
 }

body {
	font-family: "Lucida Sans", sans-serif;
	/* font-family: "Verdana", sans-serif; */
	/*    color: maroon; */
	/* color: rgba(255, 255, 255, 1.0); */
	background-color: lightgray;
	text-align: center;
	align-content: center;
	justify-content: center;
}

h2 {
	font-weight: bold;
}

DIV {
	border: solid darkgreen 0px;
	
}
SPAN{
	border: solid teal 0px;
}

/* OUTER AREAS */ 
.body-col-33-34-33, .body-col-5-90-5 {
	display: grid;
	grid-gap: 0px;
	width: 100%;
	text-align: center;
	align-content: center;
	border: solid maroon 0px;
	justify-content: center;
}

.body-col-33-34-33 {
	grid-template-columns: 33% 34% 33%;
	/* grid-template-rows:100%;  */
	border: solid maroon 0px;
}

.body-col-5-90-5 {
	grid-template-columns: 5% 90% 5%;
	/* grid-template-rows:100%;  */
}


.body-row-100 {
	display: grid;
	grid-template-columns: 100%; 
	grid-template-rows: AUTO;
	/*    background-color: silver;*/
	border:solid GREEN 0px;
	/* background-color: lightgreen; */
}

.body-row-1-div {
	border: solid GREEN 0px;
	background-color: white;
	padding: 0px;
}

/* EO OUTER AREAS */
/* ***************************' */
/* FOCUS CENTER COLUM  */


/*  */
/*  ONE COLUMN  */
/*  */
.center-col-100 {
	display: grid;
	grid-template-columns: 100%;
	/* grid-template-rows: 100%; */
	border-radius: 0px;
	background-color: lightgreen;
	border: solid blue 3px;
}

/*  */
/* TWO COLUMNS */
/*  */
.center-col-50-50 {
	display: grid;
	grid-template-columns: 50% 50%; 
	/* grid-template-rows: 50% 50%; */
	background-color: lightblue;
	border: solid orange 1px; 
	padding: 4px;
   margin: 0px;
	 /* height: 1em; */
	 /* place-items: center; */
  /* justify-content: center; aligns the items horizontally*/
  align-items: baseline; /* aligns the items vertically */
  
}

.center-col-50-50-left, .center-col-50-50-right{
	padding-bottom:3px;
	padding-top: 6px;
	border: solid red 1px; 
}

.center-col-50-50-left {
	padding-left: 6px;
	  padding-right: 3px;
	  margin-left: 6px;
	text-align: right;
   border: solid blue 2px; 
}
	
.center-col-50-50-right {
	padding-right: 6px;
   padding-left: 3px;
   margin-right: 6px;
   text-align: left;
   
   /* border: solid red  2px; */
 }	

/*  */
/* THREE COLUMNS */
/*  */
.center-col-33-34-33 {
   display: grid;
   background-color: lightblue;
   grid-template-columns: 3fr 3fr 3fr;
   border: solid orange 2px;
}

.center-col-25-50-25 {
   display: grid;
   grid-template-columns: 25% 50% 25%;
   font-weight: bold;
   font-size: 1em;
   padding: 10px;
   background-color: lightblue;
   /* padding-bottom:1em; */
   border: solid yellow 7px;
}

/*  */
/* FOUR COLUMNS */
/*  */


.center-col-15-35-12-37-header, .center-col-15-35-12-37 {
   display: grid;
   grid-template-columns: 15% 35% 12% 37%;
   text-align: left;
   padding: 12px;
}

.center-col-15-35-12-37-header {
   background-color: lightblue;
   font-weight: bold;
   border: solid maroon 1px;
   border-radius: 0px
}

.center-col-15-35-12-37 {
   font-weight: normal;
   /* background-color: white; */
   /* border-radius: 10px; */
}


/*  */
/*  6 COLUMNS*/
/*  */
.center-col-10-30-10-15-15-30-header, .center-col-10-30-10-15-15-30 {
	display: grid;
	grid-template-columns: 10% 30% 10% 15% 15% auto;
	text-align: left;
	padding: 12px;
	background-color: red;
}

.center-col-10-30-10-15-15-30-header {
	background-color: lightblue;
	font-weight: bold;
	border: solid maroon 1px;
	border-radius: 0px;
}

.center-col-10-30-10-15-15-30 {
	font-weight: normal;
	background-color: white; 
	/* border-radius: 10px; */
}

.center-col-6-header, .center-col-6 {
   display: grid;
   grid-template-columns:auto auto auto auto auto auto;
   text-align: left;
   padding: 12px;
   background-color: red;
}

.center-col-6-header {
   background-color: lightblue;
   font-weight: bold;
   border: solid maroon 1px;
   border-radius: 0px;
}

.center-col-6{
   font-weight: normal;
   background-color: white; 
   /* border-radius: 10px; */
}


/*  */
/* 7 COLUMNS */
/*  */
.center-col-7-header, .center-col-7{
   display: grid;
   grid-template-columns:12% 22% 10% 7% 10% 7%  auto;
   text-align: left;
   padding: 12px;
   background-color: red;
}

.center-col-7-header {
   background-color: lightblue;
   font-weight: bold;
   border: solid maroon 1px;
   border-radius: 0px;
}

.center-col-7{
	border: solid red 0px;
   font-weight: normal;
   background-color: white; 
   /* border-radius: 10px; */
}

/* ************************* */

 
input[type=submit] {
	width: 40%;
	margin: 4px;
	font-weight: bold;
	color:maroon;
	/* border-radius: 7px; */
}

input[type=button] {
   width: 40%;
   font-weight: bold;
   border-radius: 7px;
   padding: 2pX;
   margin: 4px;
   color:maroon;
}


input[type=text] {
	width: 100%;
}

input[type=password] {
	width: 100%;
}

/* MENU ----------- */
.menu {
	width: 100%;
	border-radius: 0px;
	text-align: center;
	border: solid maroon 1px;
	background-color: lightblue;
	/* height: 20%; */
	/*    padding-top: 4px;
   padding-bottom: 3px;    
  */
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

	/* border: solid black 1px; */

	/* background-color: lightblue; */
	/* color: rgba(0, 250, 0, 1.0); */
	/*    border-radius: 7px; */
}

li {
	float: left;
}

li a {
	display: block;
	color: rgba(240, 255, 255, 1.0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:link {
	color: maroon;
	/* color: rgba(0255, 0, 0, 1); */
	/* background-color: rgba(255, 255, 255, 0.8); */
}

li a:visited {
	color: maroon;
}

li a:hover { /*
   color: #DDDDDD; */
	color: rgba(119, 135, 153, 1.9);
	/* background-color: rgba(255, 255, 255, 0.8); */
}


/* DETAILS */
details{
	display:block;
	text-align: left;
	background-color: white;
	color:maroon;
	padding: 4px;
	border:solid maroon 2px;
}

details > summary {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  background-color: white;
  border: dotted red 2px;
  /* box-shadow: 7px 7px 7px #bbbbbb; */ 
  cursor: pointer;
  color:maroon;
}

details > p {
  background-color: #eeeeee;
  padding: 4px;
  margin: 0;
  /* box-shadow: 1px 1px 2px #bbbbbb; */
}


/* divides the content/enclosing area in rows */
/* .center-col-rows-100 {
   display: grid;
   grid-template-rows: 1em;
   grid-template-columns: 100%;
   background-color: lightblue; 
   border: solid maroon 1px;
   border-radius: 10px;
   padding: 0.8em;
} */

 /*  ******************************************' */
.event-cols-header, .event-cols{
   display: grid;
   grid-template-columns: 10% 25% 10% 15% 10% 10% auto;
	text-align: left;
	/* padding-left:10px;
	padding-right:10px */;
	
	/* border: solid blue 2px; */
}

.event-cols-header {
  background-color: lightblue;
   border: solid maroon 1px;
}
.event-cols {
   background-color: white;
    /* border: solid maroon 1px;  */
}

.event-cols-header > div {
	padding-right: 6px;
   padding-left: 6px;
}

.event-cols > div {
   padding-right: 6px;
   padding-left: 6px;
}
