.mt-x5 {
  margin-top:0.5em;
}
.mt-1x {
  margin-top:1em;
}
.mt-15 {
  margin-top:1.5em;
}
.mt-2x {
  margin-top:2.0em;
}

.mb-x5 {
  margin-top:0.5em;
}
.mb-1x {
  margin-top:1em;
}
.mb-15 {
  margin-top:1.5em;
}
.mb-2x {
  margin-top:2.0em;
}
.ml-x5 {
  margin-top:0.5em;
}
.ml-1x {
  margin-top:1em;
}
.ml-15 {
  margin-top:1.5em;
}
.ml-2x {
  margin-top:2.0em;
}
.mr-x5 {
  margin-top:0.5em;
}
.mr-1x {
  margin-top:1em;
}
.mr-15 {
  margin-top:1.5em;
}
.mr-2x {
  margin-top:2.0em;
}

.va-m {
  vertical-align: middle;
}
.va-t {
  vertical-align: top;
}
.va-b {
  vertical-align: bottom;
}
